RewriteEngine On

# Redirecionamento básico para a pasta public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]

# Impede listagem de diretórios
Options -Indexes
